# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs and reports
*.log
*.bak
*.tmp

# PyInstaller / dist output
dist/
build/
*.spec
